@use '../../common/variables' as *;
@use 'sass:map';

.services {
  @media (max-width: 576px) {
    &__title, h1 {
      font-size: map-get($font-sizes, 'xxl');
    }

    .section-header {
      margin-bottom: 40px;
    }

    .row {
      row-gap: 48px;
    }
  }
}