@use '../../common/variables' as *;
@use 'sass:map';

.tabs {
  @media (min-width: 1400px) {
    .container {
      max-width: 1080px;
    }
  }

  @media (max-width: 992px) {
    &__controls {
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 40px;
      padding-bottom: 24px;
      flex-wrap: nowrap;
      overflow-x: scroll;

      &-single {
        max-width: 100%;
        display: flex;
        span {
          width: max-content;
        }
        font-size: map-get($font-sizes, 'xl');
      }

      &:after {
        display: none;
      }
    }

    &__content {
      padding-left: 0;
    }
  }

  @media (max-width: 576px) {

    &__wrapper {
      flex-direction: column;
    }

    &__controls {
      flex-direction: row;
      margin-bottom: 32px;
      padding-bottom: 24px;
    }
  }
}